body{
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
input{
  margin-bottom: 10px;
  margin-top:5px;
  border:none;
  font-size: 14px;
  width:160px;
  border-bottom: 1px solid #d3d3d3;
}
input:focus{
  border-bottom: 1px solid #66ccff;
  outline: none;
}
textarea{
  margin-bottom: 5px;
}
textarea:focus{
  border: 1px solid #66ccff;
  outline: none;
}
/*Editor / UI CSS*/
#map {
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  width:800px;
  height:800px;
}
.ui{
  z-index:3;
  height:40px;
  position:fixed;
  display:flex;
  border: 1px solid #808080;
}
#editUI{
  width:500px;
  top:0;
  left:0;
}
#navUI{
  width:520px;
  bottom:0;
  left:0;
}
#itemListUI{
  position: fixed;
  width:222px;
  z-index:10;
  top:0;
  right:0;
}
#itemList{
  width:inherit;
  position: fixed;
  top:40px;
}
#infoBox{
  width:200px;
  height:300px;
  padding:10px;
  z-index: 6;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: white;
  border:1px solid black;
}
#infoBoxHeader{
  position: absolute;
  border:none;
  top:0;
  left:0;
  width:240px;
  height:30px;
}
#infoBoxHeader *{
  padding:5px;
}
/*Form / Prompt CSS*/
.formContainer{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.formButton{
  font-size: 16px;
  width:65px;
  height:30px;
  background-color: #999999;
  border: 1px solid #808080;
  color:white;
  margin:3px;
}
#addItemForm{
  width:160px;
  height:260px;
}
#initializeForm{
  width:160px;
  height:180px;
}
#itemInfoForm{
  width:160px;
  height:240px;
}
#loadSaveForm{
  width:190px;
  height:200px;
}
#saveContainer{
  width:190px;
  height:150px;
  margin-bottom: 5px;
}
.prompt{
  width:200px;
  height:200px;
  padding:20px;
  z-index: 6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
#addItemPrompt{
  height:270px;
}
#screen{
  z-index:5;
  top:0px;
  left:0px;
  position:fixed;
  width:100%;
  height:100%;
  background-color: grey;
  opacity: 0.7;
}
/*Button CSS*/
.buttonContainer, .singleButton{
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.buttonContainer{
  text-align: center;
  width:160px;
  height: 20px;
}
.formButton:hover{
  background-color: white;
  color:#999999;
}
.uiButton, .uiLabel{
  width:50px;
  display:inline-block;
  margin: 0px;
  text-align: center;
  padding:10px;
  color:white;
  background-color: #999999;
}
.operatorButton{
  width:40px;
}
.longLabel{
  width:130px;
}
.shortLabel{
  width:80px;
}
.longButton{
  width:100px;
}
.counter{
  display:inline-block;
}
.uiButton:hover{
  color:#999999;
  background-color: white;
}
.save{
  display: table;
  border:1px solid black;
  border-radius: 4px;
  width: 172px;
  height:20px;
}
.saveName{
  overflow:hidden;
  max-width: 73px;
  width:73px;
}
.saveName{
  display:table-cell;
  vertical-align: middle;
}
.openSave, .delSave{
  border-radius: 4px;
  margin-left: 4px;
  border:none;
  color: white;
  background-color: grey;
}
.openSave:hover, .delSave:hover{
  color: grey;
  background-color: white;
}
/*List CSS*/
.listItem{
  width:inherit;
  height:30px;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}
.item{
  z-index:3;
  background-color: blue;
  border:1px solid black;
  text-align: center;
  display: table;
  position:absolute;
  top:0;
  left:0;
}
